<% content_for(:title, 'Edit ' + @current_player.first_name + '\'s Profile') %>

<div class="container">
  <h1><%= @current_player.first_name.upcase + ' ' + @current_player.last_name.upcase %></h1>
  <h3>Edit Records</h3>

  <%= render partial: 'players/error' %>

  <form action="/players/<%= @current_player.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>First Name</label>
    <input type="text" name="player[first_name]" value="<%= @current_player.first_name%>"><br>

    <label>Last Name</label>
    <input type="text" name="player[last_name]" value="<%= @current_player.last_name %>"><br>

    <label>Age</label>
    <input type="text" name="player[age]" value="<%= @current_player.age %>"><br>

    <label>Team ID</label>
    <input type="text" name="player[team_id]" value="<%= @current_player.team_id %>"><br>

    <input type="submit" value="Update">
  </form>

  <%= link_to'All Players >', players_path %>
</div>