
<div class="container">

  <h1>Players</h1>

<table class="table table-responsive table-bordered">
  <thead>
  <tr class="bg-danger">
    <td>First Name</td>
    <td>Last Name</td>
    <td>Age</td>
    <td>Team ID</td>
    <td>Actions</td>
  </tr>
  </thead>

  <tbody>
  <% @players.each do |player| %>
  <tr>
    <td><%= player.first_name %></td>
    <td><%= player.last_name %></td>
    <td><%= player.age %></td>
    <td><%= player.team_id %></td>
    <td>
      <a href="/players/<%= player.id%>">Show</a>
      <a href="/players/<%= player.id%>/edit">Edit</a>
      <a href="/players/<%= player.id%>" data-method="delete" data-confirm="Are You Sure?">Delete</a>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

  <p><%= @players.length %> Players</p>

  <a href="/players/new">New Player</a>
</div>